body.lightbox-active {
  overflow: hidden;
}

#lightbox-blocking {
  background: rgba(255, 255, 255, 0.94);
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 50;
}

#lightbox-wrap {
  height: 100%;
  left: 0;
  position: fixed;
  text-align: center;
  top: 0;
  visibility: hidden;
  width: 100%;
  z-index: 51;
}
#lightbox-wrap.shown {
  visibility: visible;
}
#lightbox-wrap img {
  display: inline-block;
  max-height: 100%;
  max-width: 100%;
  position: relative;
  width: auto;
}

#lightbox-inner-wrap {
  height: 90%;
  margin: auto;
  max-height: 90%;
  max-width: 90%;
  position: relative;
}
#lightbox-inner-wrap .control {
  position: absolute;
  z-index: 53;
}
#lightbox-inner-wrap .next,
#lightbox-inner-wrap .prev {
  background: rgba(37, 38, 42, 0.1);
  border-radius: 30px;
  cursor: pointer;
  height: 60px;
  margin-top: -30px;
  top: 50%;
  width: 60px;
}
#lightbox-inner-wrap .next svg,
#lightbox-inner-wrap .prev svg {
  fill: #fff;
  height: 50%;
  margin-top: 25%;
  width: 50%;
}
#lightbox-inner-wrap .next {
  right: 40px;
}
#lightbox-inner-wrap .prev {
  left: 40px;
}
#lightbox-inner-wrap .close {
  height: 24px;
  right: -40px;
  width: 24px;
}
#lightbox-inner-wrap #img-wrap {
  display: inline-block;
  height: 100%;
  position: relative;
}
