$button-padding: 40px;

@mixin calc($property, $params, $important: false) {
  $important: if($important, ' !important', '');
  #{$property}: -webkit-calc(#{$params}) #{$important}; // Safari 6
  #{$property}: calc(#{$params}) #{$important};
}

.lightbox-active {
  overflow: hidden;
}

.lightbox-loading {
  cursor: wait;
}

.lightbox-link {
  cursor: pointer;
}

#lightbox-blocking {
  background: rgba(#fff, .94);
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 50;
} // #lightbox-blocking

#lightbox-wrap {

  height: 100%;
  left: 0;
  position: fixed;
  text-align: center;
  top: 0;
  visibility: hidden;
  width: 100%;
  z-index: 51;

  &.shown {
    visibility: visible;
  }

  img {
    display: inline-block;
    max-height: 100%;
    max-width: 100%;
    position: relative;
    width: auto;
  }

} // #lightbox-wrap

#lightbox-inner-wrap {

  height: 90%; // height must be set explicitly for img sizing
  margin: auto;
  max-height: 90%;
  max-width: 90%;
  position: relative;

  .control {
    position: absolute;
    z-index: 53;
  }

  .next,
  .prev {

    cursor: pointer;
    height: 100%;
    opacity: 0;
    top: 0;
    width: 50%;

    &:hover {
      opacity: 1;
    }

    svg {

      @include calc('top', '50% - 15px');
      position: absolute;

      .lightbox-icon-bg {
        opacity: .1;
        fill: #26262A;
        enable-background: new;
      }

      .lightbox-icon-arrow {
        fill:#FFFFFF;
      }

    } // svg

  } // .next, .prev

  .next {

    right: $button-padding;

    svg {
      right: 0;
    }

  } // .next

  .prev {

    left: 0;

    svg {
      left: $button-padding;
    }

  } // .prev

  .close {

    position: fixed;
    height: 24px;
    right: 40px;
    top: 40px;
    width: 24px;

    &:hover {
      cursor: pointer;
    }

  } // .close

} // #lightbox-inner-wrap

#lightbox-img-wrap {
  display: inline-block;
  height: 100%;
  position: relative;
}