$button-padding: 40px;
$tablet-and-mobile-breakpoint: 1024px;

@mixin calc($property, $params, $important: false) {
  $important: if($important, ' !important', '');
  #{$property}: -webkit-calc(#{$params}) #{$important}; // Safari 6
  #{$property}: calc(#{$params}) #{$important};
}

html.lightbox-enabled {

  &,
  body {
    overflow: hidden;
  }

} // html.lightbox-enabled

html.lightbox-zoomed {

  .lightbox-content {

    cursor: zoom-out;
    overflow: auto;

    &.zoomable-x {
      justify-content: flex-start;
    }

    &.zoomable-y {
      align-items: baseline;
    }

  } //.lightbox-content

  #lightbox-wrap img {
    max-width: inherit;
    max-height: inherit;
  }

  #lightbox-img-wrap .lightbox-extra {
    display: none;
  }

} // html.lightbox-zoomed

.lightbox-link,
.lightbox-content.zoomable {
  cursor: zoom-in;
}

%user-select-none {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.lightbox-content {

  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  left: 0;
  opacity: 1;
  position: absolute;
  top: 0;
  transition: .4s;
  width: 100vw;

} // .lightbox-content


#lightbox-blocking {

  align-items: center;
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1002;

  .lightbox-spinner {
    display: none;
  }

} // #lightbox-blocking

#lightbox-wrap {

  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 1001;

  .offscreen,
  &.offscreen {
    height: 0;
    overflow: hidden;
    visibility: hidden;
    width: 0;
  }

  &.loading {
    .lightbox-spinner {
      display: block;
    }
  }

  .hidden {
    opacity: 0;
  }

  .lightbox-contents {
    @extend %user-select-none;

    display: inline-block;
    max-height: 100%;
    max-width: 100%;
  }

  &.single {

    .next,
    .prev {

      &,
      &:hover {
        display: none;
      }

    }

  } // &.single

  &.extras-hidden #lightbox-img-wrap .lightbox-extra {
    opacity: 0;
    transition: 1s;
  }

  img {
    max-height: 100vh;
    max-width: 100vw;
  }

} // #lightbox-wrap

#lightbox-inner-wrap {

  margin: auto;
  position: relative;
  z-index: 1003;

  .control {
    cursor: pointer;
    position: absolute;
    z-index: 1003;
  }

  svg {

    .lightbox-icon-bg {
      fill: #696969;
      opacity: .2;
    }

    &:hover .lightbox-icon-bg {
      opacity: .4;
    }

  }  //svg

  .next,
  .prev {

    height: 100vh;
    opacity: 0;
    top: 0;
    width: 33.3%;

    &:hover {
      opacity: 1;
    }

    &.hidden {

      cursor: default;

      svg {
        display: none;
      }

    } // .hidden

    svg {

      @include calc('top', '50% - 15px');
      position: absolute;

      .lightbox-icon-arrow {
        fill:#FFFFFF;
      }

    } // svg

  } // .next, .prev

  .next {

    right: 0;

    svg {
      right: $button-padding;
    }

  } // .next

  .prev {

    left: 0;

    svg {
      left: $button-padding;
    }

  } // .prev

  .close {

    position: fixed;
    height: 40px;
    right: 20px;
    top: 20px;
    width: 40px;

    &:hover {
      cursor: pointer;
    }

    .lightbox-icon-bg {
      fill: #fff;
    }

  } // .close

} // #lightbox-inner-wrap

@media (max-width: $tablet-and-mobile-breakpoint) {

  #lightbox-inner-wrap {
    .close {

      right: 0;
      top: 0;

      circle {
        display: none;
      }

    } // .close

    .next:hover,
    .prev:hover {
      opacity: 0;
    }
  }

} // $tablet-and-mobile-breakpoint

// IE11, as it does not support the zoom cursor
@media all and (-ms-high-contrast:none) {

  .lightbox-link,
  .lightbox-content.zoomable {
    cursor: pointer;
  }

} // IE11
