body {

  margin: 0;
  padding: 0;

  &.lightbox-active {
    overflow: hidden;
  }

} // body

.image {
  cursor: pointer;
  float: left;
  margin-right: 10px;
}

#blocking {
  background: rgba(#fff, .94);
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 50;
}

#lightbox-wrap {

  height: 100%;
  width: 100%;
  position: absolute;
  text-align: center;
  visibility: hidden;
  z-index: 51;

  &.shown {
    visibility: visible;
  }

  img {
    display: inline-block;
    max-height: 100%;
    max-width: 100%;
    position: relative;
    width: auto;
  }

} // #lightbox-wrap

#lightbox-inner-wrap {
  height: 90%; // height must be set explicitly for img sizing
  margin: auto;
  max-height: 90%;
  max-width: 90%;
  position: relative;
}

#img-wrap {
  display: inline-block;
  height: 100%;
  position: relative;
}

.control {
  position: absolute;
  z-index: 53;
}

.next,
.prev {
  background: rgba(#25262a, .1);
  border-radius: 30px;
  height: 60px;
  margin-top: -30px;
  top: 50%;
  width: 60px;

  svg {
    fill: #fff;
    height: 50%;
    margin-top: 25%;
    width: 50%;
  }

}

.next {
  right: 40px;
}

.prev {
  left: 40px;
}

.close {
  height: 24px;
  right: -40px;
  width: 24px;
}